<main>
  <h2>Página inicial</h2>
  <div class="post-area">
    <div class="post-card">

      <div class="post-header">
        <div class="post-title">
          <h3>{{titulo}}</h3>
          <h4>{{data}}</h4>
        </div>
        <i class="fa-solid fa-trash"></i>
      </div>

    </div>
  </div>
</main>